<!--
<%= javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['line', 'corechart']}]}" %>
<%= javascript_include_tag 'flights/chart' %>

<div id="chart" class="chart-dim"></div>
-->

<% @trips.each_slice(2) do |trip_pair| %>
  <div class="row">
    <% trip_pair.each do |trip| %>
      <div class="col-xs-6">
        <div class="row" style="text-align: center;">
          <%= content_tag :h1, "#{trip.get_sources} to #{trip.get_destinations}" %>
        </div>
        <div class="row">
          <%= content_tag :a, :href => "/flights/#{trip.id}" do %>
            <%= image_tag 'http://www.mapsofworld.com/flags/images/world-flags/Republic-of-korea-flag.jpg', :class => 'img-rounded img-responsive', :style => 'margin: auto;' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <br>
  </div>
<% end %>
