<!--
<%= javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['line', 'corechart']}]}" %>
<%= javascript_include_tag 'flights/chart' %>

<div id="chart" class="chart-dim"></div>
-->

<% @flight_queries.each_slice(2) do |two_flights| %>
  <div class="row">
    <% two_flights.each do |flight| %>
      <div class="col-xs-6">
        <div class="row" style="text-align: center;">
          <%= content_tag :h1, "#{flight.source_city} to #{flight.destination_city}" %>
        </div>
        <div class="row">
          <%= content_tag :a, :href => "/flights/#{flight.id}" do %>
            <%= image_tag flight.thumbnail, :class => 'img-rounded img-responsive', :style => 'margin: auto;' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <br>
  </div>
<% end %>
