<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Benjamyn</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <%= link_to @links[:home], :class => 'navbar-link' do %>
            <%= content_tag :div, nil, :id => 'home', :class => "#{@selected_tab == :home ? 'navbar-selected' : 'navbar-unselected'}" %>
        <% end %>
      </li>
      <li class="dropdown">
        <%= link_to '#', :class => 'navbar-link dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <%= content_tag :div, nil, :id => 'photos', :class => "#{@selected_tab == :photos ? 'navbar-selected' : 'navbar-unselected'}" %>
        <% end %>
        <%= content_tag :ul, :class => 'dropdown-menu' do %>
            <%= content_tag :li do %>
                <%= link_to 'All Albums', @links[:albums], :class => 'truncate' %>
            <% end %>

            <% i = 0 %>
            <% get_albums_for_nav.each do |album| %>
                <%= content_tag :li, nil, :role => 'separator', :class => 'divider' %>
                <%= content_tag :li do %>
                    <%= link_to album.title, "/albums/#{album.id}", :class => 'truncate' %>
                <% end %>

                <% i += 1 %>
            <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to @links[:flights], :class => 'navbar-link' do %>
            <%= content_tag :div, nil, :id => 'flights', :class => "#{@selected_tab == :flights ? 'navbar-selected' : 'navbar-unselected'}" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
