<!DOCTYPE html>
<html>
<head>
  <title>RailsWebsite</title>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>

<div class="custom-container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $("img.lazy").lazyload({
        threshold: 800,
        failure_limit: 9
    });
</script>
</body>
</html>
